In [1]:
#All import
import numpy as np
import pandas as pd

In [10]:
data = pd.read_csv("HR employee data.csv")

In [11]:
retrenched = pd.read_csv("Employees Due for Retrenchment.csv")

In [12]:
promoted = pd.read_csv("Employees Due for Promotion.csv")

In [34]:
retrenchedID = retrenched.Number.unique()
len(retrenchedID)

117

In [33]:
promotedID = promoted.Number.unique()
len(promotedID)

72

In [32]:
promotedANDretrenched = []
for ID in retrenchedID:
    if ID in promotedID:
        promotedANDretrenched.append(ID)

len(promotedANDretrenched)

54

In [37]:
data.head()

   EmployeeNumber    Emplyee name
0               1      Barak Sali
1               2     Mumin Yusha
2               4  Cordia M Knopp
3               5    Burton C Jin
4               7       Femi Grek

In [39]:
promotion_retrench = data.query("EmployeeNumber in @promotedANDretrenched ")

In [43]:
promotion_retrench.to_csv("promotion_retrench.csv")